<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}"> -->
    <!-- <link rel="shortcut icon" href="{{url_for('static', filename='style/imgs/flor.png')}}" type="image/x-icon"> -->
    <link rel="stylesheet" href="static/style/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" href="static/imgs/icone.png" type="image/x-icon">
    <title> Aprendendo Mandarim </title>
</head>
<body>

    <header>
        <div class="principal">
            <img src="static/imgs/flor.png" alt="ícone" class="flor">

            <h2 class="titulo"> Aprendendo Mandarim</h2>

            <a href="login.html" class="botao"> Login </a>

            <div class="redes">
                <li><a href="" class="botaoredes">  <i class="fa-brands fa-instagram"> </i></a></li>
                <li><a href="" class="botaoredes">  <i class="fa-brands fa-pinterest"> </i></a></li>
            </div>

            <div class="logo_container">
                <img src="static/imgs/icon_flor.png" alt="logo" class="logo">
            </div>
    </header>

    <main>
    <div>
        <img src="static/imgs/lanterna.png" alt="lanterna" class="lanterna">
    </div>

    <div>
        <img src="static/imgs/decoracao2.png" alt="decoração" class="decoracao">
    </div>

    <section class="banner">

          <div class="conteudo">

            <h2> Aprendendo Mandarim ‧ Curso </h2>

            <h1> Aprenda gramática e vocabulário de forma prática e eficiente. Inicie seus estudos de Mandarim totalmente de graça! </h1>
            
            <p> Desenvolvido para ensinar gramática e vocabulário de maneira totalmente GRATUITA prática e eficiente. <br>
                Contamos com mais de 15 aulas e mapas mentais que ensinam desde o básico até o mais avançado.</p>

          </div>

    </section>

    <div class="botoes">
        
        <a href="cadastro.html" class="botao_main"> Começe já! </a>
        <a href="#sobre" class="botao_main"> Saiba mais </a>

    </div>
    </main>


     <!-- Barra de cursos -->
    <section class="cards">
        
        <h2> Suas escolhas... </h2>

        <h1> Aprendendo Mandarim do seu jeito!</h1>

        <p id="paragraph"> Contamos com diferentes maneiras de ensinar, escolha o melhor método de aprendizado para você. </p>

        <div>
            <img src="static/imgs/decoracao.png" alt="decoração2" class="decoracao2">
        </div>

      <aside class="bloco_cont">
        
          <!-- Card conteúdo-->
        <div class="area_cards">

          <!-- 1 -->
          <div class="card_conteudo"> 
            <img src="static/imgs/desenvolvendo.jpg" alt="Aulas">
              <h3> Aulas </h3>

              <p> Aprenda mandarim passo a passo, com conteúdos organizados para você.</p>

              <ul>
                <li> ✔ Gramática </li>
                <li> ✔ Vocabulário e expressões </li>
                <li> ✔ Exercícios de fixação </li>
              </ul>
              <a href=" " class="botao_card1"> Ver aulas ➜ </a>
          </div>

          <!-- 2 -->
           <div class="card_conteudo">
            <img src="static/imgs/desenvolvendo.jpg" alt="Mapas">  
            <h3> Mapas Mentais </h3>
            <p class="descricao"> Mapas mentais para facilitar o estudo e a memorização de gramática, vocabulário e expressões.</p>
            <ul>
                <li> 󠁯✔ Mapas de gramática </li>
                <li> ✔ Vocabulário por temas </li>
                <li> ✔ Frases e expressões </li>
                <li> ✔ Revisões rápidas</li>
              </ul>
              <a href=" " class="botao_card2"> Ver mapas mentais ➜ </a>
          </div>

          <!-- 3 -->
           <div class="card_conteudo">
            <img src="static/imgs/desenvolvendo.jpg" alt="Comunidade">
            <h3> Comunidade </h3>
            <p class="descricao"> Junte-se a nossa comunidade de estudantes para trocar experiências <br> e obter apoio no aprendizado do mandarim.</p>
            <ul>
                <li> ✔ Dicas de estudo </li>
                <li> ✔ Compartilhamento de materiais </li>
                <li> ✔ Conheça outros estudantes  </li>
                <li> ✔ Troque experiências </li>
                <li> ✔ Tire dúvidas </li>

              </ul>
            
            <a href=" " class="botao_card3"> Conectar-se à comunidade ➜ </a>

           </div>
        </div>
        </aside>

    </section>

    <div class="divisao">
        <img src="static/imgs/flor.png" alt="ícone" class="flor3">
    </div>

    <section class="sobre">

        <h1> Apoio ao projeto</h1>
        <p class="conteudo"> O conteúdo é gratuito e sem anúncios. Você não precisa pagar nada para utilizar aulas, mapas... 
            <br> Se você gosta do projeto e quer apoiar, contribua voluntariamente fazendo doações. Qualquer valor é bem-vindo 
            <br> e nos ajuda a manter o projeto ativo. </p>

        <a href="" class="doar"> Doar </a>
        <h2> Começe a qualquer hora! </h2>

    </section>

    <footer class="footer">
    
        <h2> Aprendendo Mandarim </h2>

        <img src="static/imgs/flor.png" alt="ícone" class="flor2">

        <a href="#" class="relatar"> Relatar Problema </a>

            
        <nav class="redes2">
          <li><a href="https://www.instagram.com/incp6575?igsh=MXJtNDIwaXNoZmVxaw%3D%3D" class="botredes">  <i class="fa-brands fa-instagram"> </i></a></li>
          <li><a href=" " class="botredes">  <i class="fa-brands fa-whatsapp"> </i></a></li>
          <li><a href="https://www.facebook.com/incp.cursos?locale=pt_BR" class="botredes">  <i class="fa-brands fa-facebook"> </i></a></li>
        </nav>

        <p class="copy"> © 2024 Aprendendo Mandarim. Todos os direitos reservados. </p>

    </footer>

    
</body>
</html>